* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

.header {
  background-color: #000;
  height: 80px;
  width: 100%;
  position: fixed;
}

.header__container {
  height: 100%;
}

.header__link {
  padding: 10px;
}

.header__logo {
  width: 84px;
}

.banner {
  background-color: #000;
  height: 100vh;
  width: 100%;
}

.banner__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__title {
  color: #fff;
}

/* Gallery */

.gallery {
  background-color: #000;
  width: 100%;
  padding: 2rem;
  position: relative;
}

.gallery__form {
  margin: 0 auto 2rem;
  width: 100%;
  display: flex;
  background: none;
}

.gallery__form input {
  flex-grow: 1;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #000;
}

.gallery__button--search,
.gallery__button--load {
  padding: 10px 30px;
  margin-left: 1rem;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
}

.gallery__button--load {
  margin: 10px 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.gallery__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: center;
  padding: 2rem;
  background: #000;
}

.imageBox {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border: 1px solid #000;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  transition: transform .8s;
}

.image:hover {
  transform: scale(1.1);
}

/* Modal */

.gallery__modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.gallery__modal--inner {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-100vh);
  transition: all 0.5s;
  max-width: 1000px;
  height: calc(100vh - 100px);
  /* display: grid; */
  /* grid-template-columns: 50px 1fr 50px; */
  color: black;
  margin: 3rem;
}

.gallery__modal figure {
  height: 100%;
  display: grid;
  margin: 0;
  grid-template-rows: 1fr auto;
}

.gallery__modal img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.gallery__modal.open {
  opacity: 1;
  pointer-events: all;
}

.gallery__modal figcaption {
  padding: 10px;
}

.gallery__modal h2 {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.gallery__modal.open .gallery__modal--inner {
  transform: translateY(0);
}

.prev,
.next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  cursor: pointer;
  transition: all .5s;
  border: none;
  outline: none;
  position: absolute;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
  top: 50%;
}

.next {
  right: 10px;
  top: 50%;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.fas {
  color: #fff;
}