* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  scroll-behavior: smooth;
}

.header {
  background-color: transparent;
  height: 80px;
  width: 100%;
  position: fixed;
}

.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 84px;
  margin: 10px 20px;
}

.header nav {
  color: wheat;
}

/* Banner */

.banner {
  width: 100%;
  height: 100vh;
  background: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #000;
}

.banner__container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.banner__wrapper {
  margin-left: 10vh;
}

.banner__title,
.banner__text {
  color: #fff;
  font-weight: 600;
  text-shadow: 2px 2px 2px #000;
  /* border-bottom: 1px solid #fff; */
}

.banner__title {
  font-size: 3.2rem;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.banner__text {
  font-size: 1.5rem;
}

/* banner: form */

.banner__form {
  margin: 0 auto 3rem;
  width: 600px;
  display: flex;
  background: none;
  padding: 2rem 10vh;
  position: absolute;
  bottom: 0;
  right: 0;
}

.banner__form input {
  flex-grow: 1;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #000;
  padding-left: 15px;
  font-size: 1rem;
}

.fa-search {
  font-size: 1rem;
  padding: 10px 10px;
}

.banner__button--search {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

/* Scroll */

.banner__scroll {
  width: 20px;
  height: 42px;
  border: 1px solid #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 10px;
  z-index: 1;
}

.banner__scroll:before {
  content: '';
  width: 6px;
  height: 12px;
  background: #fff;
  border-radius: 3px;
  margin: 6px auto;
  display: block;
  animation: mainHeroScrollAnim 0.7s 0s infinite alternate ease-in-out;
}

@keyframes mainHeroScrollAnim {
  100% {
    margin-top: 22px;
  }
}

/* APOD */

.apod {
  background-color: #000;
  padding-bottom: 100px;
}

.apod__container {

  max-width: 1000px;
  /* max-height: 1000px; */
  margin: 0 auto;
  background-color: #000;
}

.apod__header {
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 2rem;
}

.apod__title {
  color: #fff;
  text-align: center;
}

.apod__image {
  width: 100%;
  height: auto;
  background-attachment: fixed;
  margin-top: 20px;
  border: 1px solid #fff;
}

/* apod description */

/* Gallery */

.gallery {
  background-color: #000;
  width: 100%;
  padding: 2rem;
  position: relative;
}

.gallery__button--load {
  margin: 10px 0;
  border: 2px solid #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 30px;
  background: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: all .5s;
}

.gallery__button--load:hover {
  background-color: #fff;
  color: #000;
}

.gallery__button--close {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  cursor: pointer;
  transform: translate(100%, -100%);
  border-radius: 50%;
  background-color: #000;
  border: 1px solid #000;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.gallery__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2rem;
  background: #000;
}

.imageBox {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border: 1px solid #000;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  transition: transform .8s;
}

.image:hover {
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

/* Modal */

.gallery__modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.gallery__modal--inner {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-100vh);
  transition: all 0.5s;
  max-width: 1000px;
  height: calc(100vh - 100px);
  /* display: grid; */
  /* grid-template-columns: 50px 1fr 50px; */
  color: black;
  margin: 3rem;
}

.gallery__modal figure {
  height: 100%;
  display: grid;
  margin: 0;
  grid-template-rows: 1fr auto;
}

.gallery__modal img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.gallery__modal.open {
  opacity: 1;
  pointer-events: all;
}

.gallery__modal figcaption {
  padding: 10px;
}

.gallery__modal h2 {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.gallery__modal.open .gallery__modal--inner {
  transform: translateY(0);
}

.prev,
.next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  cursor: pointer;
  transition: all .5s;
  border: none;
  outline: none;
  position: absolute;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
  top: 50%;
}

.next {
  right: 10px;
  top: 50%;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.fas {
  color: #fff;
}

/* Footer */

.footer {
  background-color: #000;
}

.footer a {
  color: #fff;
  position: fixed;
  bottom: 10px;
  right: 20px;
  margin: 0;
  padding: 0;
  transition: all .5s;
  font-size: 2rem;
}

.footer a:hover {
  transform: translateY(-20%);
}

.footer a::before {
  content: ' ';
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-22%, 22%);
}

@media (max-width: 1100px) {
  .apod__container {
    margin: 0 5vh;
  }
}

@media(max-width: 650px) {
  .banner__wrapper {
    margin: 0 10vh;
  }

  .banner__form {
    width: 100%;
  }
}

@media(max-width: 400px) {
  .banner__wrapper {
    margin: 0 5vh;
  }

  .gallery__container {
    padding: 0;
  }
}